<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>


  <%= f.input :name %>
  <%= f.input :email %>
  <%= f.input :password, label: "New Password", autocomplete: "off" %>
  <%= f.input :password_confirmation, label: "New Password Confirmation", autocomplete: "off" %>
  <%= f.input :current_password %>

    <br></br>

  <div><%= f.submit "Update" %></div>
<% end %>

<br></br>

<%= link_to "Go back", :back %>

<br></br>
<small><p>Unhappy?    <%= link_to "Close my account", registration_path(resource_name), data: { confirm: "Are you sure? There is no way to get any of this information back!" }, method: :delete %></p></small>


<%# (must figure out how to collect country data) f.input :country_id, :collection => all_countries, :selected => selected_country_id %>